APP_ENV=development
POSTGRES_DB=your_db_name
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
JWT_SECRET_KEY=devsecretkeyforlearningonly
VITE_API_BASE_URL=
VITE_AMAP_WEB_JS_KEY=your_amap_web_js_key